<th:block xmlns:th="http://www.thymeleaf.org">
    <img
            width="210px"
            height="36px"
            src="https://scontent.fsgn2-8.fna.fbcdn.net/v/t1.15752-9/301406305_778104106733211_6782672602185559285_n.png?_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_ohc=I7xqpOe7Ty4AX_xlAt8&_nc_ht=scontent.fsgn2-8.fna&oh=03_AVLPt3z-ox0hea7p960c__EPujJ71dTyGOthfICVkEGm5Q&oe=635A71DD"
    />
    <div class="menu">
        <i style="font-size: 2.5rem" class="fa-solid fa-bars"></i>
    </div>
    <input placeholder="Tìm kiếm sản phẩm mong muốn..."/>
    <div class="search">
        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="right">
        <div>
            <div><i class="fa-regular fa-bell"></i></div>
            <div>Thông Báo</div>
        </div>
        <div>
            <div><i class="fa-regular fa-bell"></i></div>
            <div>Giỏ hàng</div>
        </div>
        <div>
            <div><i class="fa-regular fa-user"></i></div>
            <div>Tài Khoản</div>
        </div>
    </div>
    <div class="btn-group">
        <button
                type="button"
                class="btn dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
        >
            <img
                    width="37px"
                    height="24px"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Vietnam.svg/2560px-Flag_of_Vietnam.svg.png"
                    alt=""
            />
        </button>
        <ul style="width: 40px" class="dropdown-menu">
            <li>
                <img
                        width="37px"
                        height="24px"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Vietnam.svg/2560px-Flag_of_Vietnam.svg.png"
                        alt=""
                />
            </li>
        </ul>
    </div>
</th:block>