<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/hieu_search.css}">
</head>
<body>
<section class="header" id="header">
    <th:block layout:insert="~{fragments/client/header}"/>
</section>
<section class="container" id="content">
    <div class="container-inner">
        <ul class="list-group list-group-horizontal search-navigation">
            <li>
                <a href="">TRANG CHỦ</a>
            </li>
            <li>
                <a href="">Sách Tiếng Việt</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="cold-md-3 col-ld-3 left">
            <dl>
                <dt class="left_category left_filter_title">
                    NHOM SAN PHAM
                </dt>
                <dd class="left_category" th:if="${category != null}">
                    <h1>Dmm category k null ma</h1>
                    <ul class="list-group">
                        <li class="">
                            <a href="#" style="margin-left: 0">Tất cả nhóm sản phẩm</a>
                        </li>
                        <li style="margin-left: 10px"
                            th:if="${category.parentCategory.parentCategory.getId() != category.parentCategory.getId()}">
                            <a th:href="@{/category(id=${category.parentCategory.parentCategory.getId()})}">
                                <span th:text="${category.parentCategory.parentCategory.categoryName}"></span>
                            </a>
                        </li>
                    </ul>
                    <th:block th:if="${category.parentCategory.getId() != category.getId()}">
                        <div style="margin-left: 20px; margin-bottom: 10px">
                            <a th:href="@{/category(id=${category.parentCategory.getId()})}">
                                <span th:text="${category.parentCategory.categoryName}"></span>
                            </a>
                        </div>
                        <ul class="list-group">
                            <li th:each="tmp : ${category.parentCategory.getChildCategories()}">
                                <a th:href="@{/category(id=${tmp.getId()})}"
                                   th:class="${category.categoryName == tmp.categoryName}?colorText:xxx">
                                    <span th:text="${tmp.categoryName}"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="search-more-less" id="m-more-less-left_category">
                            <a class="search-show-less-action" style="display: none;">Rút Gọn</a>
                            <a class="search-show-more-action" style="">Xem Thêm</a>
                        </div>
                    </th:block>
                    <th:block th:if="${category.parentCategory.getId() == category.getId()}">
                        <div style="margin-left: 20px; margin-bottom: 10px">
                            <a class="colorText"
                               th:href="@{/category(id=${category.getId()})}">
                                <span th:text="${category.categoryName}"></span>
                            </a>
                        </div>
                    </th:block>
                </dd>
                <dd class="left_category" th:if="${category == null}">
                    <ul class="list-group">
                        <li class="">
                            <a th:href="@{/category(id=1)}" style="margin-left: 0">Sách trong nước</a>
                        </li>
                        <li class="">
                            <a th:href="@{/category(id=2)}" style="margin-left: 0">Foreign books</a>
                        </li>
                    </ul>
                </dd>
                <dt class="left_filter">
                    <h5 class="left_filter_title">Hình thức bìa</h5>
                </dt>
                <dd class="left_filter">
                    <ul class="list-group">
                        <li>
                            <input id="bia-cung" type="checkbox" name="filter_name" value="">
                            <label for="bia-cung">Bìa cứng</label>
                        </li>
                        <li>
                            <input id="bia-mem" type="checkbox" name="filter_name" value="">
                            <label for="bia-mem">Bìa mềm</label>

                        </li>
                        <li>
                            <input id="bia-gi-do" type="checkbox" name="filter_name" value="">
                            <label for="bia-gi-do">Bìa gì đó</label>
                        </li>
                    </ul>
                </dd>
                <dt class="left_filter">
                    <h5 class="left_filter_title">GIA</h5>
                </dt>
                <dd class="left_filter">
                    <form th:action="@{/category(id=${category.getId()})}">
                        <ul class="list-group">
                            <li>
                                <input type="checkbox" id="priceRange1" name="priceRange" value="0-150"
                                       >
                                <label for="priceRange1"></label> 0đ - 150.000đ
                            </li>
                            <li>
                                <input type="checkbox" id="priceRange2" name="priceRange" value="150-300"
                                       >
                                <label for="priceRange2"></label> 150.000đ - 300.000đ
                            </li>
                            <li>
                                <input type="checkbox" id="priceRange3" name="priceRange" value="300-500"
                                       onchange="form.submit()">
                                <label for="priceRange3"></label> 300.000đ - 500.000đ
                            </li>
                            <li>
                                <input type="checkbox" id="priceRange4" name="priceRange" value="500-700"
                                       onchange="form.submit()">
                                <label for="priceRange4"></label> 500.000đ - 700.000đ
                            </li>
                            <li>
                                <input type="checkbox" id="priceRange5" name="priceRange" value="700-"
                                       onchange="form.submit()">
                                <label for="priceRange5"></label> 700.000đ - Trở lên
                            </li>
                            <li>
                                <input type="submit" value="search">
                            </li>
                        </ul>
                    </form>
                </dd>
                <dd></dd>
                <dt class="left_filter">
                    <h5 class="left_filter_title">NGON NGU</h5>
                </dt>
                <dd class="left_filter">
                    <ul class="list-group">
                        <li>
                            <input type="checkbox" name="filter_name" value="">Tiếng Việt
                        </li>
                        <li>
                            <input type="checkbox" name="filter_name" value="">Tiếng Anh
                        </li>
                        <li>
                            <input type="checkbox" name="filter_name" value="">Song ngữ
                        </li>
                        <li>
                            <input type="checkbox" name="filter_name" value="">Khác
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="col-md-8 col-lg-8 right">
            <div class="result-search-block">
                <h4 class="right_result_search">KET QUA TIM KIEM VOI: <span style="color: red" th:text="${name}"></span>
                </h4>
                <div class="right_filter">
                    <ul class="list-group list-group-horizontal">
                        <li class="">Sap xep theo:</li>
                        <li>
                            <select class="form-select" aria-label="Default select" name="">
                                <option selected>Sap xep theo</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </li>
                        <li>
                            <select class="form-select" aria-label="Default select" name="">
                                <option selected>Con hang</option>
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                        </li>
                        <li>
                            <!--                            <form action="">-->
                            <!--                                <div class="form-group">-->
                            <!--                                    <select class="form-select"-->
                            <!--                                            aria-label="Default select"-->
                            <!--                                            name="size" id="size" onchange="this.form.submit()">-->
                            <!--                                        <option th:selected="${products.size = 48}" value="48">48 sản phẩm</option>-->
                            <!--                                        <option th:selected="${products.size = 24}" value="24">24 sản phẩm</option>-->
                            <!--                                        <option th:selected="${products.size = 12}" value="12">12 sản phẩm</option>-->
                            <!--                                    </select>-->
                            <!--                                </div>-->
                            <!--                            </form>-->
                        </li>
                    </ul>
                </div>
                <div class="list_books">
                    <div class="books-grid" th:if="${products.hasContent()}">
                        <th:block th:each="book, iStat:${products.content}">
                            <div class="book">
                                <a th:href="@{#}">
                                    <img class="card-img img-book"
                                         th:src="${book.image}" alt="">
                                    <div class="book-name">
                                        <p th:text="${book.productName}"></p>
                                    </div>
                                </a>
                                <div class="price">
                                    <p class="sale-price" th:text="${book.price}">10.000 đ</p>
                                    <p class="origin-price">10.000</p>
                                </div>
                                <div class="rate">
                                    <ul class="list-group list-group-horizontal">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div th:if="${!products.hasContent()}">
                        <h1>No Book Found</h1>
                    </div>
                </div>
                <div class="pagination">
                    <!--                    Using for /category...-->
                    <th:block th:if="${category != null}">
                        <nav aria-label="Page navigation"
                             th:if="${products.totalPages > 0}">
                            <ul class="pagination justify-content-center">
                                <li th:class="${1 == products.number + 1} ? 'page-item active' : 'page-item'">
                                    <a th:href="@{/category(id=${category.getId()}, size=${products.size}, page=${products.number > 0?products.number:1})}"
                                       class="page-link">Last</a>
                                </li>

                                <li class="page-item active"
                                    th:each="pageNumber : ${pageNumbers}"
                                    th:if="${products.totalPages > 0}"
                                    th:class="${pageNumber == products.number + 1 ? 'page-item active' : 'page-item'}">
                                    <a th:href="@{/category(id=${category.getId()}, size=${products.size}, page=${pageNumber})}"
                                       class="page-link"
                                       th:text="${pageNumber}"></a>
                                </li>

                                <li th:class="${products.totalPages == products.number + 1} ? 'page-item active' : 'page-item'">
                                    <a th:href="@{/category(id=${category.getId()}, size=${products.size}, page=${products.number+2})}"
                                       class="page-link">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </th:block>
                    <!--                    Using for /search...-->
                    <th:block th:if="${category == null}">
                        <nav aria-label="Page navigation"
                             th:if="${products.totalPages > 0}">
                            <ul class="pagination justify-content-center">
                                <li th:class="${1 == products.number + 1} ? 'page-item active' : 'page-item'">
                                    <a th:href="@{/search(name=${name}, size=${products.size}, page=${products.number > 0?products.number:1})}"
                                       class="page-link">Last</a>
                                </li>

                                <li class="page-item active"
                                    th:each="pageNumber : ${pageNumbers}"
                                    th:if="${products.totalPages > 1}"
                                    th:class="${pageNumber == products.number + 1 ? 'page-item active' : 'page-item'}">
                                    <a th:href="@{/search(name=${name}, size=${products.size}, page=${pageNumber})}"
                                       class="page-link"
                                       th:text="${pageNumber}"></a>
                                </li>

                                <li th:class="${products.totalPages == products.number + 1} ? 'page-item active' : 'page-item'">
                                    <a th:href="@{/search(name=${name}, size=${products.size}, page=${products.number+2})}"
                                       class="page-link">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block layout:insert="~{fragments/client/footer}"/>
<th:block layout:insert="~{fragments/client/scriptTag}"/>
</body>
</html>