<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/hieu_search.css}">
</head>
<body>
<section class="header" id="header">
    <th:block layout:insert="~{fragments/client/header}"/>
</section>
<section class="container" id="content">
    <div class="search-navigation">
        <ul class="list-group list-group-horizontal">
            <li><a href="">TRANG CHỦ</a></li>
            <li>=></li>
            <li><a href="">Kết quả tìm kiếm với: </a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 left">
            <div class="left_title">
                <strong><span>MUA THEO</span></strong>
            </div>
            <hr>
            <div class="left-filter-block">
                <div class="left_category">
                    <h5 class="left_filter_title">NHOM SAN PHAM </h5>
                    <ul class="list-group">
                        <li class="">
                            <a href="#">Foreign Books (<span th:text="${list1Qty}"></span>)</a>
                        </li>
                        <li class="">
                            <a href="#">Sach Tieng Viet</a>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="left_filter">

                    <h5 class="left_filter_title">NHA XUAT BAN</h5>
                    <ul class="list-group">
                        <li>
                            <input type="checkbox" name="filter_name" value=""> Foreign Books
                        </li>
                        <li>
                            <input type="checkbox" name="filter_name" value="">Sach Tieng Viet
                        </li>
                        <li>
                            <input type="checkbox" name="filter_name" value="">Sach Tieng Viet
                        </li>
                        <li>
                            <input type="checkbox" name="filter_name" value="">Sach Tieng Viet
                        </li>
                        <li>
                            <input type="checkbox" name="filter_name" value="">Sach Tieng Viet
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="left_filter">
                    <h5 class="left_filter_title">GIA</h5>
                    <form th:action="@{/_search/searchByPrice}" id="priceForm">
                        <input type="checkbox"
                               name="priceRange"
                               value="1"
                               onclick="autoSubmit('priceForm')"
                        >0đ - 150.000đ>
                        <!--                               th:checked="${ckbPrice == 1?true:false}">0đ - 150.000đ>-->
                        <br>
                        <input type="checkbox"
                               name="priceRange"
                               value="2"
                               onclick="autoSubmit('priceForm')">150.000 - 300.000đ
                        <br>
                        <input type="checkbox"
                               name="priceRange"
                               value="3"
                               onclick="autoSubmit('priceForm')">300.000đ - 500.000đ
                        <br>
                        <input type="checkbox"
                               name="priceRange"
                               value="4"
                               onclick="autoSubmit('priceForm')">500.000đ - 700.000đ
                        <br>
                        <input type="checkbox"
                               name="priceRange"
                               value="5"
                               onclick="autoSubmit('priceForm')">700.000đ - Trở lên
                    </form>
                </div>
                <div class="left_filter">
                    <h5 class="left_filter_title">NGON NGU</h5>
                    <form th:action="@{/_search/searchByLanguage}" id="languageForm">
                        <ul class="list-group">
                            <li>
                                <input type="checkbox" name="language" value="vn" onchange="autoSubmit('languageForm')">Tiếng
                                Việt
                            </li>
                            <li>
                                <input type="checkbox" name="language" value="eng"
                                       onchange="autoSubmit('languageForm')">Tiếng Anh
                            </li>
                            <li>
                                <input type="checkbox" name="language" value="both"
                                       onchange="autoSubmit('languageForm')">Song Ngữ
                            </li>
                            <li>
                                <input type="checkbox" name="language" value="others"
                                       onchange="autoSubmit('languageForm')">Ngôn ngữ khác
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 right">
            <div class="result-search-block">
                <h4 class="right_result_search">KET QUA TIM KIEM VOI: </h4>
                <div class="right_filter">
                    <ul class="list-group list-group-horizontal">
                        <li class="">Sap xep theo:</li>
                        <li>
                            <select class="form-select" aria-label="Default select" name="">
                                <option selected>Sap xep theo</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </li>
                        <li>
                            <select class="form-select" aria-label="Default select" name="">
                                <option selected>Con hang</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </li>
                        <li>
                            <select class="form-select" aria-label="Default select" name="">
                                <option value="" selected>48 san pham</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="list_books">
                    <div class="books-grid">
                        <th:block th:each="book:${products}">
                            <div class="book">
                                <img class="card-img img-book"
                                     src="https://cdn0.fahasa.com/media/catalog/product/9/7/9781800583191.jpg" alt="">
                                <a class="book-name" th:text="${book.productName}"></a>
                                <div class="price">
                                    <p class="sale-price" th:text="${book.price}">10.000 đ</p>
                                    <p class="origin-price">10.000</p>
                                </div>
                                <div class="rate">
                                    <ul class="list-group list-group-horizontal">
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
<!--                <nav aria-label="Page navigation">-->
<!--                    <ul class="pagination justify-content-center">-->
<!--                        <li class="page-item disabled">-->
<!--                            <a class="page-link" href="#" aria-label="Previous">-->
<!--                                <span aria-hidden="true">&laquo;</span>-->
<!--                                <span class="sr-only">Previous</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
<!--                        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                        <li class="page-item">-->
<!--                            <a class="page-link" href="#" aria-label="Next">-->
<!--                                <span aria-hidden="true">&raquo;</span>-->
<!--                                <span class="sr-only">Next</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </nav>-->
            </div>
        </div>
    </div>
</section>
<th:block layout:insert="~{fragments/client/footer}"/>
<th:block layout:insert="~{fragments/client/scriptTag}"/>
</body>
<!--<script>-->
<!--    function autoSubmit(name) {-->
<!--        var formObject = document.forms[name];-->
<!--        formObject.submit();-->
<!--    }-->
<!--</script>-->
</html>